{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^vue",
    "^@/gql",
    "^@/components/ui/",
    "^@/components",
    "^@/composables"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
